<template name="aside">
  {{#if section "aside"}}

    <div class="us {{pos}}">

      <header class="us-hdr">
        <h2>L'Echapp&eacute;e Sonore</h2>
        <div class="us-stt">
          <div class="us-stt-roll ani">
            <span class="us-stt-roll-sec proj">
              <em>et on peut voyager avec les oreilles</em>
            </span>
            <span class="us-stt-roll-sec nous">
              <em>le voyage de tout un groupe</em>
            </span>
            <span class="us-stt-roll-sec comm">
              <em>et les choses deviennent meilleures</em>
            </span>
          </div>
        </div>
        <ul class="us-nav">
          <li class="us-nav-btn proj"></li>
          <li class="us-nav-btn nous"></li>
          <li class="us-nav-btn comm"></li>
        </ul>
      </header>

      <div class="us-roll ani">
        <section class="us-roll-sec proj">Slide A</section>
        <section class="us-roll-sec nous">Slide B</section>
        <section class="us-roll-sec comm">Slide C</section>
      </div>

    </div>
  {{/if}}
</template>