<template name="aside">
  {{#if section "aside"}}

    <div class="us to-sec-1">
      <header class="us-hdr">
        <h2>L'Echapp&eacute;e Sonore</h2>
        <div class="us-stt">
          <div class="us-stt-roll">
            <span class="us-stt-roll-sec-1">
              <em>il est permis de voyager avec les oreilles</em>
            </span>
            <span class="us-stt-roll-sec-2">
              <em>le voyage de tout un groupe</em>
            </span>
            <span class="us-stt-roll-sec-3">
              <em>et les choses deviennent meilleures</em>
            </span>
          </div>
        </div>
        <ul class="us-nav">
          <li class="us-nav-btn-1 on"></li>
          <li class="us-nav-btn-2"></li>
          <li class="us-nav-btn-3"></li>
        </ul>
      </header>
      <div class="us-roll">
        <section class="us-roll-sec-1">Slide A</section>
        <section class="us-roll-sec-2">Slide B</section>
        <section class="us-roll-sec-3">Slide C</section>
      </div>
    </div>
  {{/if}}
</template>