<template name="aside">
  {{#if section "aside"}}

    <div class="us">
      <header class="us-hdr">
        <h2>L'Echapp&eacute;e Sonore</h2>
        <h3 class="us-stt">
          <span class="us-stt-1"><em>il est permis de voyager avec les oreilles</em></span>
          <span class="us-stt-2"><em>le voyage de tout un groupe</em></span>
          <span class="us-stt-3"><em>et vous-même</em></span>
        </h3>
        <ul class="us-nav">
          <li class="us-nav-btn-1 on"></li>
          <li class="us-nav-btn-2"></li>
          <li class="us-nav-btn-3"></li>
        </ul>
      </header>
      <div class="us-roll to-sec-1">
        <section class="us-roll-sec-1">Slide A</section>
        <section class="us-roll-sec-2">Slide B</section>
        <section class="us-roll-sec-3">Slide C</section>
      </div>
    </div>
  {{/if}}
</template>